<html>
	<head>
		<title>Blog App</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
	</head>
	<body>
	
		<div class="ui fixed menu">
			<div class="ui container">
				<div class="header item">
					<i class="comments icon"></i><a href="/about">Blog Site</a>
				</div>
				<a href="/" class="item">Home</a>
				<a href="/blogs/new" class="item">New Post</a>
			</div>
			<div class="ui secondary pointing menu">
				<div class="right menu">
					<% if(!currentUser){ %>
						<a class="ui item active" href="/register">Sign Up</a>
						<a class="ui item active" href="/login">Log In</a>
					<% } else { %>
						<a class="ui item active" href="#">
							<strong>
								<em><%= currentUser.username %></em>
							</strong>
						</a>
						<a class="ui item active" href="/logout">Logout</a>
					<% } %>
				</div>
			</div>
		</div>



