<% include ./partials/header %>

<div class="ui main text container segment">
	<div class="ui huge header" style="text-align: center;">About the BLOG</div>

	<!-- <form class="ui form"action="/blogs" method="POST">
		<div class="field">
			<label>Title</label>
			<input type="text" name="title" placeholder="Title">
		</div>
		<div class="field">
			<label>Image</label>
			<input type="text" name="image" placeholder="Image">
		</div>
		<div class="field">
			<label>Blog Content</label>
			<textarea name="body"></textarea>
		</div>
		
		<input class="ui violet basic button" type="submit">
	</form> -->
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<% include ./partials/footer %>