<% include ./partials/header %>

<link href="https://fonts.googleapis.com/css?family=Nunito|Quattrocento+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

<div class="ui main text container segment">
	<div class="ui olive message">
	<div class="ui huge header" style="text-align: center;">About the BLOG</div>

	<div class="ui green message" style="color: black;">
		<p style="text-align: center; word-spacing: 2px; font-family: 'Nunito', sans-serif;">
			This is a basic Blog App developed by 
			<strong>
				<a style="color: black;" href="http://iammda23.ga" target="_blank"> Md Danish Anwar.</a><br>
			</strong>
		</p>
		<p style="word-spacing: 2px; font-size: 16px; font-family: 'Nunito', sans-serif;">
			This app provides you to write posts, edit or delete them, as per your need, providing authentocation as well. You can post your thoughts on any topic in this blog. Feel free to post and share your ideas. 
			Happy BLOGging!!
		</p>
		<ul style="font-family: 'Josefin Sans', sans-serif;">This site is basically built on Node.js other used tools are as follows
			<li style="margin-left: 40px;">CSS : Semantic UI</li>
			<li style="margin-left: 40px;">Database : MongoDB & Mongoose</li>
			<li style="margin-left: 40px;">NPM packages : express, request, body-parser</li>
		</ul>
		<div>
			<img style="float: right; width: 40%; height: 20%; border-radius: 10px;border: 2px solid #73AD21;" src="https://pbs.twimg.com/profile_images/942132781743857664/Okky3ihO_400x400.jpg">
			<p style="word-spacing: 2px; font-size: 16px; font-family: 'Nunito', sans-serif;">
		<strong> About the developer :<br></strong>
		This is a basic Blog App developed by 
			<strong>
				<a style="color: black;" href="http://iammda23.ga" target="_blank"> Md Danish Anwar</a>
			</strong>,a B.Tech(2015-19) student from NIT Durgapur, currently in 3rd year of graduation in Computer Science and Engineering(CSE).
			
		</p>
		</div>
	</div>

<!-- Lower portion -->

	<div class="ui relaxed horizontal list" style="margin-left: 60px; font-size: 18px; word-spacing: 2px; font-family: 'Nunito', sans-serif; color: black;">
		<div class="item"><p>CONTACT US</p></div>
	  <div class="item">
	  	<li>
			<a href="https://www.facebook.com/iammda23" target="_blank">
				<i class="fa fa-facebook"></i>
			</a>
		</li>
	  </div>
	  <div class="item">
	  	<li>
			<a href="https://www.twitter.com/immda23" target="_blank">
				<i class="fa fa-twitter"></i>
			</a>
		</li>
	  </div>
	  <div class="item">
	  	<a href="https://www.linkedin.com/in/iammda23" target="_blank">
				<i class="fa fa-linkedin"></i>
			</a>
  	  </div>
  	  <div class="item">
  	  	<li>
			<a href="https://plus.google.com/u/0/113791814733150423929" target="_blank">
				<i class="fa fa-google-plus"></i>
			</a>
		</li>
  	  </div>
  	  <div class="item">
  	  	<li>
			<a href="https://github.com/danishanwar" target="_blank">
				<i class="fa fa-github"></i>
			</a>
		</li>
  	  </div>
  	  <div class="item">
  	  	<li>
			<a href="https://github.com/danishanwar" target="_blank">
				<i class="fa fa-instagram"></i>
			</a>
		</li>
  	  </div>
  	  <div class="item">
  	  	<li>
			<a href="https://github.com/danishanwar" target="_blank">
				<i class="fa fa-quora"></i>
			</a>
		</li>
  	  </div>
	</div>
</div>

</div>


<% include ./partials/footer %>